.container {
  max-width: 800px;
  margin: 0 auto;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.answer {
  margin-bottom: 10px;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
}
.section {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.hidden-div {
  display: none;
  color: black;
}
